.header-img img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: block;
}

.header-img{
    display: flex;
    justify-content: center;
}

.header{
    max-width: 400px;
}

header h1{
    font-family: var(--fonte-principal);
    color: var(--cor-titulo);
    margin: 1rem 0;
    font-weight: 300;
}

header p{
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    color: var(--cor-texto);
    margin: 0px 4.65rem 2.25rem 0;
}