.header-img img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: block;
}

.header-img{
    display: flex;
    justify-content: center;
}

header h1{
    font-family: var(--fonte-principal);
    color: var(--cor-titulo);
    font-weight: 300;
    margin: 1rem 0;
}

header p{
    font-family: var(--fonte-secundaria);
    font-weight: 300;
    color: var(--cor-texto);
    margin: 1rem 0;
}