.preparation {
    font-family: var(--fonte-secundaria);
    max-width: 100%;
    background-color: hsl(334, 100%, 97%);
    padding: 1.563rem;
    border-radius: 1.25rem;
    margin: 0.625rem 0;
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 0.938rem;
    margin-bottom: 1.25rem;
}

.preparation ul {
    margin: 0;
    padding-left: 1.25rem;
}

.preparation li {
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
}

.preparation li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.8rem;
}

/* --INGREDIENTS-- */

.ingredientes {
    max-width: 100%;
    padding: 1.563rem;
}

.ingredientes h2 {
    margin: 0 0 0.938rem -1.25rem;
}

.ingredientes li {
    padding-left: 0.625rem;
}

.ingredientes ul li {
    line-height: 1.875rem;
}

.ingredientes ul li::marker {
    color: var(--cor-title);
    font-size: 0.8rem;
}

.ingredientes.border {
    border-bottom: solid 1px hsl(14, 45%, 36%);
}

/* --INSTRUCTIONS--  */

.instructions {
    max-width: 100%;
    padding: 2.063rem;
}

.instructions ol li {
    margin-bottom: 0.938rem;
}

.instructions ol li::marker {
    color: var(--cor-title);
    font-weight: 700;
}

/* --NUTRITION-- */

.nutrition-list {
    list-style: none;
    padding: 0;
}

.nutrition p{
    margin: 1.25rem -1.25rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-texto);
}

.nutrition-list li {
    display: flex;
    padding: 0.75rem 1.875rem;
    border-bottom: 1px solid #e0e0e0;
}

.nutrition-list li:last-child {
    border-bottom: none;
}

.nutrition-list span {
    flex: 1;
    color: #5f5653;
}

.nutrition-list strong {
    flex: 1;
    color: #854632;
}