*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
}

.container li{
    color: var(--cor-texto);
    font-family: var(--fonte-secundaria);
}

.title{
    font-family: var(--fonte-principal);
    font-weight: 300;
    color: var(--cor-title);
}